body {
	font-family: Helvetica, arial;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

#header img {
	float: left;
}

#header h1 {
	float: left;
	color: #fff;
}

#header {
	background-color: #364395;  
	width: 1250px;
	height: 76px;
}

#toolboxDraw img {
	padding-left: 100px;
}

#toolboxDraw {
	list-style-type: none;
	width: 1200px;
}

#toolboxDraw ul {
	list-style-type: none;
}

.toolboxdrawC {
	float: left;
}

.toolboxdrawC ul {
	list-style-type: none;
}

#toolboxBar {
	padding-left: 20px;
	background-color: ;
}

#qStringSelect {
	/*border-bottom: 1px solid #DEDEDE;*/
	/*padding: 20px;*/
	float: left;
}

#columnSelect {
	float: right;
	/*padding: 20px;*/
}

.floatClear {
	clear: both;
}

#result h1 {
	display: none;
}

#result table {
    background-color: #CDCDCD;
    font-family: arial;
    font-size: 8pt;
    margin: 10px 0 15px;
    text-align: left;
    width: 1250px;
}
#result table thead tr th, #result table tfoot tr th {
    background-color: #E6EEEE;
    border: 1px solid #FFFFFF;
    font-size: 8pt;
    padding: 4px;
}
#result table thead tr .header {
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#result table tbody td {
    background-color: #FFFFFF;
    color: #3D3D3D;
    padding: 4px;
    vertical-align: top;
}
#result table tbody tr.odd td {
    background-color: #F0F0F6;
}
